@model UserRolesMaps.Models.Events

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventLong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
